<div class="categories">

    <p>{{title}}</p>

    <div class="button-row">
        <button mat-raised-button>
            <mat-icon aria-label="Example icon-button with a heart icon">restaurant</mat-icon>
        </button>
        <button mat-raised-button>
            <mat-icon aria-label="Example icon-button with a heart icon">local_grocery_store</mat-icon>
        </button>
        <button mat-raised-button>
            <mat-icon aria-label="Example icon-button with a heart icon">local_hotel</mat-icon>
        </button>
        <button mat-raised-button>
            <mat-icon aria-label="Example icon-button with a heart icon">local_bar</mat-icon>
        </button>
    </div> 
    <br>
    <div class="button-row">
            <button mat-raised-button>
                <mat-icon aria-label="Example icon-button with a heart icon">account_balance</mat-icon>
            </button>
        <button mat-raised-button>
            <mat-icon aria-label="Example icon-button with a heart icon">local_taxi</mat-icon>
        </button>
        <button mat-raised-button>
            <mat-icon aria-label="Example icon-button with a heart icon">local_airport</mat-icon>
        </button>
        <button mat-raised-button>
            <mat-icon aria-label="Example icon-button with a heart icon">more_horiz</mat-icon>
        </button>
    </div>

    <mat-icon svgIcon="thumbs-up"></mat-icon>

</div>

